<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    
        <h1 class="heading">Sign-up</h1>
        <div class="cen">
            <div class="login">
                <form action="/signup" method="post" class="form">
                    <input type="email" name="userName" placeholder="Enter your Email">
                    <input type="password" name="password" placeholder="Enter your Password">
                    <button type="submit" class="btn">submit</button>
                </form>
            </div>
        </div>
    
   
    
    
</body>
</html>